<!-- :feature:login/src/androidTest/AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application android:theme="@style/Base.Theme.BAZZ_movies">
    <activity
      android:name="com.waffiq.bazz_movies.feature.login.ui.LoginActivity"
      android:autofillHints=""
      android:exported="true"
      android:windowSoftInputMode="stateHidden" />
  </application>
</manifest>
